@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   
}

body {
    background-image: linear-gradient(to right, #F29F80,#F2EAC2);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9b68557e;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #5274D9;
    text-align: center;
    text-shadow: 1px 1px 2px #2c3d70a6;
}

h2 {
    color: #6C87D9;
}

p {
    text-align: justify;
}
